@font-face {
    font-family: 'iconfont';  /* project id 236639 */
    src: url('//at.alicdn.com/t/font_rehvb9f0wrgousor.eot');
    src: url('//at.alicdn.com/t/font_rehvb9f0wrgousor.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_rehvb9f0wrgousor.woff') format('woff'),
    url('//at.alicdn.com/t/font_rehvb9f0wrgousor.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_rehvb9f0wrgousor.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont";
    font-style:normal;
    font-size:1.5rem;
}
